<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/customcss/loginStyle.css">
    <title>Sports Ticket Booking Login</title>

</head>
<body>
    <div class="container">
        <div class="head">
            <h1>Sports Ticket Booking Login</h1>
        </div>
        <div class="fom">
            <form action="" method="post">
                <input type="text" name="username" id="inp" placeholder="username">
                <br><br>
                <input type="password" name="password" id="inp" placeholder="password">
                <br><br>
                <input type="submit" value="LOGIN" id="btn">
            </form>
        </div>
    </div>
    
    
</body>
</html>