<footer class="footer" style="background-color: #001e36">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-lg-3">
        <img src="/icon/impact.png" alt="" class="img-fluid footer-img">
      </div>
      <div class="col-sm-12 col-lg-9 socialWrapper">
        <a href="https://facebook.com" target="_blank"><i class="fa fa-facebook-square fa-3x"
            aria-hidden="true"></i></a>
        <a href="https://gmail.com" target="_blank"><i class="fa fa-google-plus-square fa-3x"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="fa fa-instagram fa-3x"></i></a>
      </div>
    </div>
  </div>
</footer>