<!-- Modal -->
<div class="modal fade" id="coolStuffModal" tabindex="-1" aria-labelledby="coolStuffLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contentLabel">Get Exclusive Content</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">&#10060;</button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <img class="img-fluid" src="/icon/penta.png" alt="">
            </div>
          </div>
          <div class="row">

            <div class="col-sm-12">
              <div class="modalFormWrapper">
                <form>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
</div>

<!-- Rampage Modal -->
<div class="modal fade rampage-modal-xl" tabindex="-1" aria-labelledby="coolStuffLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://www.youtube.com/embed/-cdSMZJS0tQ" frameborder="0" class="embed-responsive-item"></iframe>
      </div>
    </div>
  </div>
</div>

<!-- Dynamite Modal -->
<div class="modal fade dynamite-modal-lg" tabindex="-1" aria-labelledby="coolStuffLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://www.youtube.com/embed/-cdSMZJS0tQ" frameborder="0" class="embed-responsive-item"></iframe>
      </div>
    </div>
  </div>
</div>

<!-- Dark Modal -->
<div class="modal fade dark-modal-sm" tabindex="-1" aria-labelledby="coolStuffLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://www.youtube.com/embed/-cdSMZJS0tQ" frameborder="0" class="embed-responsive-item"></iframe>
      </div>
    </div>
  </div>
</div>