<div class="sectionLight">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12 col-lg-4">
          <img class="img-fluid img-center" src="/icon/third.jpg" alt="">

          <div class="row">
            <div class="col-sm-12">
              <button type="button" class="btn btn-lg btnCenter btn-danger" data-toggle="modal"
                data-target=".rampage-modal-xl">Rampage</button>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4">
          <img src="/icon/second.png" alt="" class="img-fluid img-center">

          <div class="row">
            <div class="col-sm-12">
              <button type="button" class="btn btn-lg btnCenter btn-danger" data-toggle="modal"
                data-target=".dynamite-modal-lg">Dynamite</button>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4">
          <img src="/icon/third.jpg" alt="" class="img-fluid img-center">

          <div class="row">
            <div class="col-sm-12">
              <button type="button" class="btn btn-lg btnCenter btn-danger" data-toggle="modal"
                data-target=".dark-modal-sm">Dark</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>