<div class="sectionDark">
  <div class="row">
    <div class="col-sm-12 col-md-1 offset-md-2">
      
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="row">
        <div class="col-sm-12">
          <p class="fonT">
            
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="ticketAvailable" style="overflow-y:scroll;">
            <h1>Available Tickets</h1>
             
                
                  {{#each list}}
                  
                  {{#if this.avalibelity}}
                <div class="eachTicket"><p class="fonT">{{this.eventname}}   {{this.date}} </p> <button class="btn btn-primary" onclick="PATCH(62564d17d85b7a08ca56069b, 624d932f9cf9630e23afc8e4)"> $ {{this.price}}</button></div>
              {{/if}}
            {{/each}} 
                    
                    
                </div> 
            </div> 
            
          </div>
          
        </div>
        
      </div>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="cSW">
        
      </div>
    </div>
  </div>
</div>
